extends layout.pug

block content

  article.portfolio-intro

    h1 Toye Ogundepo - Web Developer

    p Portfolio built with Node.js and Express. Please see a few of my projects below.


  article.portfolio-project-thumbs
    .projects-box.box.grid
      //- loop through projects to display
      each portfolioProject in portfolioProjects 
        .cell
          a(href=`/projects/${portfolioProject.id}`)
            img.thumbnail(src=`${portfolioProject.image_urls[0]}`, alt=`Thumbnail ${portfolioProject.project_name}`)
          h5= `${portfolioProject.project_name}`

  